* {
    margin: 0px;
    padding: 0px;
}

img {
    border-radius: 50%;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 1fr 7fr 1fr / 1fr 4fr;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";
}

header {
    grid-area: header;
}

.banner {
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #BED3EF 0%, #D3D6E9 100%, #B6D0D8 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company-info {
    display: flex;
    background: linear-gradient(45deg, #BED3EF 0%, #D3D6E9 100%, #B6D0D8 100%);
    border: 1px solid darkgrey;
    align-items: center;
    padding: 10px;
}

#logo {
    width: 50px;
    height: 50px;
    border: 2px solid black;
}

.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border: solid 2px black;
}

main {
    width: 100%;
    height: 100%;
    grid-area: main;
    display: grid;
    grid-template: 1fr 5fr / 1fr 5fr;
    grid-template-areas:
        "dashboard user-bar"
        "dashboard content";
}

.user-bar {
    background: linear-gradient(45deg, #bed3ef9f 0%, #d3d6e954 100%, #B6D0D8 100%);
    width: 100%;
    height: 100%;
    grid-area: user-bar;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-welcome {
    display: flex;
    align-items: center;
    padding: 10px;
}

.post-buttons {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.dashboard {
    background: linear-gradient(45deg, #BED3EF 0%, #D3D6E9 100%, #B6D0D8 100%);
    width: 100%;
    height: 100%;
    grid-area: dashboard;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5%;
}

.dash-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.content {
    background: linear-gradient(45deg, #bed3ef9f 0%, #d3d6e954 100%, #B6D0D8 100%);
    grid-area: content;
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    grid-template-areas:
        "posts friends"
        "posts trending";
}

.posts {
    grid-area: posts;
    padding: 10px;
}

.friends {
    grid-area: friends;
    padding: 10px;
}

.trending {
    grid-area: trending;
    padding: 10px;
}

footer {
    background-color: black;
    color: white;
    width: 100vw;
    height: minmax(5vh, 15vh);
    grid-area: footer;
    text-align: center;
}

h1 {
    color: black;
    text-shadow: 1px 1px 1px #6A667E;
}

p {
    padding: 10px;
}