* {
    margin: 0px;
    padding: 0px;
}

img {
    border-radius: 50%;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: minmax(200px, 2fr) minmax(1000px, 5fr) minmax(100px, 1fr) / minmax(1000px, 1fr);}

header {
    grid-row: 1 / 2;
}

.banner {
    width: 100vw;
    height: minmax(5vh, 15vh);
    border: solid 1px green;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    width: 100vw;
    height: minmax(85vh, 95vh);
    grid-row: 2 / 3;
    display: grid;
    grid-template: repeat(auto-fit, minmax(150px, 1fr)) / repeat(auto-fit, minmax(150px, 1fr));
}

.user-bar {
    border: solid 1px greenyellow;
    grid-row-start: 1;
    grid-column: 2 / -1;
    display: flex;
    justify-content: space-between;
}

.dashboard {
    border: solid 1px red;
    width: minmax(10vw, 100vw);
    height: minmax(20vh, 95vh);
    grid-row-start: 1;
    grid-column-start: 1;
}

.content {
    border: solid 1px blue;
    grid-row-start: 2;
    grid-column: 2 / -1;
    display: grid;
    grid-template: repeat(auto-fit, minmax(150px, 1fr)) / repeat(auto-fit, minmax(150px, 1fr));
}

footer {
    width: 100vw;
    height: minmax(5vh, 15vh);
    grid-row: 3;
    border: solid 1px grey;
}

h1 {
    color: red;
}